<!--
author: Dren Gashi - gashi321@gmail.com
-->

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <processors>
      <uiUpload>
        <processor mode="on" patch:before="*[1]" type="JobMarket.Foundation.SitecoreExtensions.Pipelines.FilterBlockedContentType, JobMarket.Foundation.SitecoreExtensions">
          <restrictedContentType hint="raw:AddRestrictedContentType">
            <contentType>application/octet-stream;application/x-httpd-php</contentType>
          </restrictedContentType>
        </processor>
      </uiUpload>
    </processors>
  </sitecore>
</configuration>